<?xml version="1.0" encoding="utf-8" ?>
<!--TMAlerts project-->
<configuration>

  <!--other settings...-->
  <appSettings>
    <add key="Key0" value="0" />
    <add key="Key1" value="1" />
    <add key="Key2" value="2" />
  </appSettings>

  <connectionStrings>
    <add name="connStr"
        connectionString="Persist Security Info=False; User ID=sa; Password=motoroil; Initial Catalog=Trademarks; Server=DELIGEEL\SQLEXPRESS; Encrypt=True; TrustServerCertificate=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>