<?xml version="1.0" encoding="utf-8" ?>
<!--TMAlerts project-->
<configuration>

  <!--other settings...-->
  <appSettings>
    <add key="Mailbox_UserName" value="trademarks" />
    <add key="Mailbox_Password" value="trade!m@rks" />
    <add key="Mailbox_Domain" value="moh" />
    <add key="Mailbox_Address" value="trademarks@moh.gr" />
    <add key="Mailbox_SmtpClientHost" value="wmath.moh.gr" />
  </appSettings>     
 
  <connectionStrings>
    <add name="connStr"
        connectionString="Persist Security Info=False; User ID=sa; Password=motoroil; Initial Catalog=Trademarks; Server=DELIGEEL\SQLEXPRESS; Encrypt=True; TrustServerCertificate=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>